/*
    Document   : test.css
    Created on : 2015-07-16 03:18 PM
    Author     : mathvdh
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}


test {
    
    color:#fff;
    
}